/ {
	huawei_charger: huawei_charger{
		compatible = "huawei,charger";
		status = "disabled";
	};
	direct_charger: direct_charger{
		compensate_r = <0>;
		scp_cable_detect_enable = <0>;
		max_adaptor_vset = <5500>;
		ibat_abnormal_th = <200>;
		first_cc_stage_timer_in_min = <0>;
		max_dc_bat_vol = <4350>;
		min_dc_bat_vol = <3550>;
		charge_control_interval = <5>;
		threshold_caculation_interval = <5>;
		safety_monitor_interval = <5>;
		vstep = <10>;
		delta_err = <100>;
		vol_err_th = <200>;
		full_path_res_min = <0>;
		full_path_res_max = <500>;
		standard_cable_full_path_res_max = <160>;
		max_current_for_none_standard_cable = <3000>;
		ls_resistance_min = <0>;
		ls_resistance_max = <500>;
		adaptor_leakage_current_th = <100>;
		stage_need_to_jump = "-1";
		temp_para =
			"-32767", "10", "0",
			"10", "45", "4750",
			"45", "32767", "0";
		compatible = "direct_charger";
		status = "disabled";
	};
	dual_loadswitch: dual_loadswitch{
		compatible = "dual_loadswitch";
		status = "disabled";
	};
	huawei_dual_charger: huawei_dual_charger{
		compatible = "huawei,dual_charger";
		is_dual_charger = <0>;
		ichg_need_aux_charger = <2100>;
		iin_max_each_charger = <1000>;
		status = "disabled";
	};
	charging_core:charging_core{
		compatible = "huawei,charging_core";
		iin_ac = <2000>;
		ichg_ac = <1900>;
		otg_curr = <1200>;
		iin_usb = <500>;
		ichg_usb = <500>;
		iin_nonstd = <1200>;
		ichg_nonstd = <1000>;
		iin_bc_usb = <1500>;
		ichg_bc_usb = <1400>;
		iin_vr = <1000>;
		ichg_vr = <1000>;
		iin_typech = <2000>;
		ichg_typech = <2100>;
		typec_support = <0>;
		iterm = <100>;
		ichrg_pre_limit = <128>;
		segment_type = <0>;
		vdpm_para =
			"-32767", "90", "4520", "0",
			"90", "32767", "4600", "0";
		inductance_para =
			"-32767", "15", "1600", "0",
			"15", "32767", "1700", "0";
		status = "disabled";

	};
	amba {
		i2c1: i2c@FFD72000 {
			rt9748_main: rt9748_main@65 {
				compatible = "rt9748_main";
				loadswitch_int = <&gpio25 3 0>;
				loadswitch_en = <&gpio32 6 0>;
				reg = <0x65>;
				status = "disabled";
			};
			rt9748_aux: rt9748_aux@67 {
				compatible = "rt9748_aux";
				loadswitch_int = <&gpio22 5 0>;
				reg = <0x67>;
				status = "disabled";
			};
		};
		i2c3: i2c@FDF0C000{
			bq25892_charger_aux: bq25892_charger_aux@6B{
				compatible = "huawei,bq25892_charger_aux";
				reg = <0x6B>;
				gpio_cd = <&gpio0 7 0>;
				gpio_int = <&gpio22 6 0>;
				bat_comp = <60>;
				vclamp = <192>;
				rilim = <220>;
				fcp_support = <0>;
				status = "disabled";
			};
		};
		i2c4: i2c@FDF0D000 {
			bq2419x_charger: charger@6B{
				compatible = "huawei,bq2419x_charger";
				reg = <0x6B>;
				gpio_cd = <&gpio22 1 0>;
				gpio_int = <&gpio22 4 0>;
				rilim = <220>;
				adc_channel_iin = <5>;
				status = "disabled";
			};

			bq2429x_charger: bq2429x_charger@6B{
				compatible = "huawei,bq2429x_charger";
				reg = <0x6B>;
				gpio_cd = <&gpio22 1 0>;
				gpio_int = <&gpio22 4 0>;
				status = "disabled";
			};
			bq25892_charger: bq25892_charger@6B{
				compatible = "huawei,bq25892_charger";
				reg = <0x6B>;
				gpio_cd = <&gpio22 1 0>;
				gpio_int = <&gpio22 4 0>;
				bat_comp = <60>;
				vclamp = <192>;
				rilim = <124>;
				adc_channel_iin = <5>;
				adc_channel_vbat_sys = <14>;
				fcp_support = <0>;
				status = "disabled";
			};
			bq25892_charger_main: bq25892_charger_main@6B{
				compatible = "huawei,bq25892_charger_main";
				reg = <0x6B>;
				gpio_cd = <&gpio22 1 0>;
				gpio_int = <&gpio22 4 0>;
				bat_comp = <60>;
				vclamp = <192>;
				rilim = <150>;
				adc_channel_iin = <5>;
				adc_channel_vbat_sys = <14>;
				fcp_support = <0>;
				status = "disabled";
			};
			hi6523_charger: hi6523_charger@6B{
				compatible = "huawei,hi6523_charger";
				reg = <0x6B>;
				gpio_int = <&gpio22 4 0>;
				bat_comp = <60>;
				vclamp = <192>;
				adc_channel_vbat_sys = <14>;
				fcp_support = <0>;
				status = "disabled";
                   };

		};
		i2c6: i2c@FFD6A000 {
			bq25892_charger_i2c6: bq25892_charger_i2c6@6B{
				compatible = "huawei,bq25892_charger";
				reg = <0x6B>;
				gpio_cd = <&gpio5 4 0>;
				gpio_int = <&gpio22 4 0>;
				bat_comp = <60>;
				vclamp = <192>;
				rilim = <124>;
				adc_channel_iin = <5>;
				adc_channel_vbat_sys = <14>;
				fcp_support = <0>;
				status = "disabled";
			};
		};
	};
};
