menu "Hisilicon platform"

menuconfig HISILICON_PLATFORM
	bool "Hisilicon platform support"
	default n
	help
	  Say yes here to support the hisilicon platform

if HISILICON_PLATFORM

source "drivers/hisi/adc/Kconfig"
source "drivers/hisi/cci_extra/Kconfig"
source "drivers/hisi/cmdline/Kconfig"
source "drivers/hisi/irq_affinity/Kconfig"
source "drivers/hisi/mailbox/Kconfig"
source "drivers/hisi/mntn/Kconfig"
source "drivers/hisi/noc/Kconfig"
source "drivers/hisi/hisi_syscounter/Kconfig"
source "drivers/hisi/soundtrigger/Kconfig"
source "drivers/hisi/memory_dump/Kconfig"
source "drivers/hisi/hmpthresholds/Kconfig"
source "drivers/hisi/drmdriver/Kconfig"
source "drivers/hisi/efuse/Kconfig"
source "drivers/hisi/hi64xx/Kconfig"
source "drivers/hisi/hi64xx_dsp/Kconfig"
source "drivers/hisi/slimbus/Kconfig"
source "drivers/hisi/hifi_dsp/Kconfig"
source "drivers/hisi/hifi_mailbox/Kconfig"
source "drivers/hisi/ddrc/Kconfig"
source "drivers/hisi/hisi_cma/Kconfig"
source "drivers/hisi/tzdriver/Kconfig"
source "drivers/hisi/flp/Kconfig"
source "drivers/hisi/hisee/Kconfig"
source "drivers/hisi/load_image/Kconfig"
source "drivers/hisi/perfhub/Kconfig"
source "drivers/hisi/pm/Kconfig"
source "drivers/hisi/ocbc/Kconfig"
source "drivers/hisi/modem/Kconfig"
source "drivers/hisi/axi/Kconfig"
source "drivers/hisi/hisi_page_tracker/Kconfig"
source "drivers/hisi/hisi_page_ext/Kconfig"
source "drivers/hisi/hilog/Kconfig"
source "drivers/hisi/timekeeper/Kconfig"
source "drivers/hisi/tlb_conflict/Kconfig"

endif #HISILICON_PLATFORM

endmenu
