#
# Huawei root scanner configuration
#
# likun <quentin.lee@huawei.com>
#
# Copyright (c) 2001-2021, Huawei Tech. Co., Ltd. All rights reserved.
#

menu "Huawei root scanner"

config HW_ROOT_SCAN
	tristate "enables Huawei root scanner"
	default n
	help
	  This option enables support for Huawei root scanner in kernel space.
	  Huawei root scanner will check if the device is got rooting or not
	  base on five items, kernel code integrity, system call table
	  integrity, SeLinux status, SeLinux hooks status, and root processes.

endmenu
#a blank line must be existed
