config HISI_HISEE_MNTN
    bool "hisee mntn module support"
    default n
    help
      Say yes here to support the hisee mntn module.

config HISI_HISEE_MNTN_TEST
    bool "hisee mntn test"
    default n
    help
      Say yes here to support the hisee mntn test.
