source "drivers/huawei_platform/power/charger/direct_charger/loadswitch/Kconfig"
#source "drivers/huawei_platform/power/charger/direct_charger/ina231/Kconfig"
config LOADSWITCH
	bool "loadswitch"
	default n
config INA231_FOR_CHARGE
	bool "ina231_for_charge"
	default n
